
temp/
build/
deploy/
# Some big boys
docs/notes/gvars

compiled.gscc
compiled.cscc
compiled.gsic
compiled.csic
compiled.gsccasm
compiled.csccasm
compiled.gsicasm
compiled.csicasm
compiled.omap
compiledclient.omap
hashes.txt

lookup_big.txt

scripts/utils/lookup_big.gsc
.vscode